@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
/*CSS RESET-STYLESHEET*/


/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* (Ends Here) */

:root{
    --primary-color:rgb(52, 168, 52);
}

body{
    background: white;
    font-family: 'Open Sans', sans-serif;
}

/* NAVBAR */
.navbar{
    background: rgb(51, 50, 50);
    padding: auto;
}
.logo{
    text-decoration: none;
    font-weight: bold;
    color: aliceblue;
    font-size: 1em;
    padding: 1em;
}
nav{
    display: none;
}
.container{
    display: flex;
    place-content: space-between;
}
.fa-menubar{
    cursor: pointer;
    padding: 1em;
    font-size: 1.2em;
    color: aliceblue;
}
.fa-menubar{
    display: block;
}
nav{
    position: fixed;
    z-index: 999;
    width: 60%;
    right: 0;
    top: 0;
    background: rgb(51, 50, 50);
    height: 100vh;
    padding: 1em;
}
nav .fa-cancel{
    color: aliceblue;
    float:right;
    cursor: pointer;
    font-size: 1.5em;
}
nav ul{
    margin-top: 5em;
}
nav ul li a{
    color: aliceblue;
    text-decoration: none;
    display: block;
    padding: 2em;
    font-size: .8em;
    text-align: right;
}
nav ul li a:hover{
    font-weight: bold;
}

@media (min-width:700px){
    .container .fa-menubar, .container .fa-cancel{
        display: none;
    }
    .navbar{
        padding: auto;
    }
    .navbar .container nav{
        display: flex;
        justify-content: space-between;
        background: none;
        position: unset;
        height: auto;
        width: auto;
        padding: 1em;
    }
    .logo{
        padding:2em;
    }
    nav ul{
        display: flex;
    }
    nav ul li a{
        font-size: .7em;
    }
    nav .main-nav{
        margin: 0;
    }
}


/*Section-one*/
.hero .container .intro{
    width: 100%;
    height: 700px;
    background:url(/assets-20210203T115731Z-001/assets/intro-bg.jpg);
    background-size: cover;
    text-align: center;
    color: aliceblue;
    position: relative;
    display: block;
}
.color-overlay{
    background: var(--primary-color);
    width: 100%;
    height: 100%;
    opacity: .2;
    position: absolute;

}

.hero .container .intro h1{
    font-size: 3em;
    z-index: 1;
    margin-top: 7em;
    position: relative;
}
.hero .container .intro p{
    position: relative;
    margin-top: 5%;
}
.hero .container .intro .btn{
    position: relative;
    color: aliceblue;
    background: #71bd34;
    display: inline-block;
    padding: 15px 25px;
    text-transform: uppercase;
    cursor: pointer;
    font-size: 15px;
    font-family: 'Open Sans', sans-serif;
    border-radius: 7%;
    border: none;
    margin-top: 5em;
}
.hero .container .intro .btn:hover{
    background: #619e2f;
}
@media (min-width:1250px){
    .hero .container .intro{
        height: 900px;
        padding: auto;
        position: relative;
    }
    .hero .container .intro h1{
        font-size: 5em;
        z-index: 1;
        position: relative;
        margin-top: 5em;
    }
    .hero .container .intro p{
        font-size: 1.5em;
        z-index: 1;
        position: relative;
        margin-top: 2em;
    }
}


/* WELCOME SECTION */
.wlcme-section .container{
    display: block;
    font-family: 'Open Sans', sans-serif;
    font-size: .5em;
}
.wlcme-section .container .wlcm{
    padding: 2em;
}
.wlcme-section .container .wlcm h1{
    font-size: 2em;
}
.wlcme-section .container .wlcm .w{
    border-bottom: 2px solid #71bd34;
}
.wlcme-section .container .wlcm .l{
   color: #71bd34;
   font-weight: bold;
}
.wlcme-section .container .wlcm p{
    padding: 2px;
    margin-top: 3em;
    color: grey;
}
.wlcme-section .container .wlcm .btn2{
    color: aliceblue;
    background: #71bd34;
    padding: 10px 20px;
    text-transform: uppercase;
    cursor: pointer;
    font-size: 12px;
    font-family: 'Open Sans', sans-serif;
    border-radius: 10%;
    border: #71bd34;
    margin-top: 3em;
}
.wlcme-section .container .wlcm .btn2:hover{
    background: #619e2f;
}


.wlcme-section .container .garden{
    display: block;
    padding: 1.5em;
}
.wlcme-section .container .garden img{
    width: 205px;
}
.wlcme-section .container .garden p{
    padding: 1px;
    margin-top: 2em;
    color: grey;
}
.wlcme-section .container .garden h3{
    font-size: 1.5em;
    margin-top: .8em;
}


.wlcme-section .container .lawn{
    display: block;
    padding: 1.5em;
}
.wlcme-section .container .lawn img{
    width: 205px;
}
.wlcme-section .container .lawn p{
    padding: 1px;
    margin-top: 2em;
    color: grey;
}
.wlcme-section .container .lawn h3{
    font-size: 1.5em;
    margin-top: .8em;
}

@media (min-width:900px){
    .wlcme-section .container{
        display: flex;
        font-family: 'Open Sans', sans-serif;
        margin-top: 5em;
        width: 100%;
        justify-content:flex-start;
    }
    .wlcme-section .container .lawn img{
        width: 230px;
    }
    .wlcme-section .container .garden img{
        width: 230px;
    }
    .wlcme-section .container .about{
        margin-left: 0;
        display: flex;
    }
    .wlcme-section .container .garden h3{
        font-size: 1.6em;
    }
    .wlcme-section .container .garden p{
        font-size: 1.3em;
        width: 22em;
    }
    .wlcme-section .container .lawn h3{
        font-size: 1.6em;
    }
    .wlcme-section .container .lawn p{
        font-size: 1.3em;
        width: 22em;
    }
    .wlcme-section .container .wlcm h1{
        font-size: 2.3em;
        width: 15em;
    }
    .wlcme-section .container .wlcm p{
        width: 37em;
        font-size: 1.2em;
    }
}
/* */

/*2nd time */
@media (min-width:1230px){
    .wlcme-section .container{
        display: flex;
        font-family: 'Open Sans', sans-serif;
        margin-top: 5em;
        width: 100%;
        justify-content:center;
    }
    .wlcme-section .container .lawn img{
        width: 230px;
    }
    .wlcme-section .container .garden img{
        width: 230px;
    }
    .wlcme-section .container .about{
        margin-left: 0;
        display: flex;
    }
    .wlcme-section .container .garden h3{
        font-size: 2em;
    }
    .wlcme-section .container .garden p{
        font-size: 1.5em;
        width: 22em;
    }
    .wlcme-section .container .lawn h3{
        font-size: 2em;
    }
    .wlcme-section .container .lawn p{
        font-size: 1.5em;
        width: 22em;
    }
    .wlcme-section .container .wlcm h1{
        font-size: 2.8em;
        width: 25em;
    }
    .wlcme-section .container .wlcm p{
        width: 37em;
        font-size: 1.8em;
    }
}
/* welcome section Ends */

/* Services section */
.services .srv{
    background:#71bd34;
    color: rgb(250, 250, 250);
    padding: 4em;
}
.services .srv h1{
    color: aliceblue;
    text-align: center;
    font-size: 1.5em;
}
.services .srv h1 span{
    border-bottom: 2.3px solid #bfee99;
}
.services .srv .pp{
    text-align: center;
    font-size: .7em;
    padding: 2em;
}
.services .srv ul{
    padding: 2em;
}
.services .srv ul li{
    display: block;
    text-align: center;
    padding: 2em;
}
.services .srv ul li img{
    border-radius: 15em;
    width: 100px;
    border: 5px solid #78c935;
} 
.services .srv ul li h3{
    font-size: 1em;
    padding: .8em;
}
.services .srv ul li p{
    font-size: .7em;
}
@media (min-width:900px){
    .services .srv ul{
        display: flex;
    }
}
/* End service section */
.gallery .art-g{
    padding: 5em;
    text-align: center;
}
.gallery .art-g h1{
    font-size: 1.7em;
}
.gallery .art-g h1 span{
    border-bottom:3px solid #619e2f;
}
.gallery .art-g p{
    padding: 2em;
}
.gallery .art-g ul{
    display: flex;
}
.gallery .art-g ul li{
    padding: .8em;
}
.gallery .art-g ul li button{
    padding: .5em 1em;
    border-radius: .5em;
    text-align: center;
}
.gallery .art-g ul li .a-btn{
    background: #71bd34;
    border: #71bd34;
    color: #ffffff;
    font-size: .9em;
    cursor: pointer;
}
.gallery .art-g ul li .b-btn, .c-btn, .d-btn{
    background: #ebecea;
    border: #ebecea;
    cursor: pointer;
}
.gallery .art-g .btns{
    justify-content: center;
}
/*.gallery .art-g .img-gallery{
    display: block;
}
.gallery .art-g .img-gallery img{
    width: 10em;
    padding: 1em;
}
@media (min-width:1456px){
    .gallery .art-g .img-gallery{
        display:block;
        width: 1500px;
        align-items: center;
        text-align: center;
        margin-left: 6em;
    }
    .gallery .art-g .img-gallery img{
        width: 18em;
        padding: 3.2em;
        justify-content: center;
        text-align: center;
    }
}
*/
.gallery .img-gallery{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(480px,1fr));
    grid-row-gap: 25px;
    grid-column-gap: 30px;
    padding: 0;
    margin: 0;
    justify-content: center;
}
.gallery .img-gallery img{
    width: 95%;
    height: 100%;
}

/* slider */
#i1, #i2, #i3, #i4, #i5{ display: none;}

.slider .container{
		margin: 0 auto;
		margin-top: 20px;
		position: relative;
		width: 100%;
		height: 200px;
		padding-bottom: 18%;
	  user-select: none;
		background-color: #1c1c1c;
    }
    .slider .container .color-overlay-2{
        background:#6ed11d;
        width: 100%;
        height: 100%;
        opacity: .8;
        position: absolute;
    }
    .slider .container .testi{
        color: #ffffff;
        text-align: center;
        justify-content: center;
        z-index: 99;
        position: relative;
        padding: 2em;
        display: block;
    }
    .slider .container .testi h1{
        font-size: 2em;
    }
    .slider .container .testi h1 span{
        border-bottom: 2px solid #bfee99;
    }
    .slider .container .testi p{
        font-size: 1em;
        text-align: center;
        padding: 1em;
    }

	.slider .container .slide_img{
		position: absolute;
		width: 100%;;
		height: 100%;
	}
	.slider .container .slide_img img{
		width: inherit;
		height: inherit;
	}



.slider .container #nav_slide{
	width: 100%;
	bottom: 12%;
	height: 11px;
	position: absolute;
	text-align: center;
	z-index: 99;
	cursor: default;
}

#nav_slide .dots{
	top: -5px;
	width: 18px;
	height: 18px;
	margin: 0 4px;
	position: relative;
	border-radius: 100%;
	display: inline-block;
	background-color: rgba(0, 0, 0, 0.6);
	transition: .4s;
}

 #nav_slide .dots:hover {
	cursor: pointer;
	background-color: rgba(255, 255, 255, 0.9);
	transition: .25s
}

.slider .container .slide_img{z-index: -1;}

	#i1:checked ~ #one  ,
	#i2:checked ~ #two  ,
	#i3:checked ~ #three,
	#i4:checked ~ #four ,
	#i5:checked ~ #five 
	{z-index: 9; animation: scroll 1s ease-in-out;}

	#i1:checked  ~  #nav_slide #dot1,
	#i2:checked  ~  #nav_slide #dot2,
	#i3:checked  ~  #nav_slide #dot3,
	#i4:checked  ~  #nav_slide #dot4,
	#i5:checked  ~  #nav_slide #dot5
	{ background-color: rgba(255,255,255,.9);}

@keyframes scroll{
	0%{	opacity:.4;}
	100%{opacity:1;}
}		

@media screen and (max-width: 685px){
	.slider .container{
		border: none;
		width: 100%;
		height: 0;
		padding-bottom: 55%; 
	}	
	
	label span { font-size: 50pt; }
	
	.prev, .next{
		width: 15%;
	}	
	#nav_slide .dots{
		width: 12px;
		height: 12px;
	}
}
@media screen  and(min-width: 970px){
	.me{ display: none;}
}


/* Contact section */
.contact .container{
    background-color: #ffffff;
    text-align: center;
    display: block;
    padding: 3em;
}
.contact .container .h1{
    font-size: 1.8em;
}
.contact .container .h1 span{
    border-bottom: 3px solid #6ed11d;
}
.contact .container p{
    font-size: .9em;
    color: #6d6d6d;
    padding: 1.3em;
}
.contact .container .awc h1 span{
    border-bottom: 2px solid #6d6d6d;
}
@media (min-width:930px){
    .contact .container .awc{
        display: flex;
        justify-content: center;
        text-align: center;
        padding: 5em;
    }
}
/* ends contact section */



/*msg section */
.msg .container{
    background: #fcfcfc;
    display: block;
    text-align: center;
    margin-bottom: 5em;
}
.msg .container h1{
    font-size: 1em;
    padding: 2em;
}
.msg .container .mesg{
    justify-content: center;
}
.msg .container .mesg input{
    background: #ffffff;
    border: 1px solid #dfdfdf;
    width: 15em;
    height: 2em;
}
.msg .container .mesg textarea{
    background: #ffffff;
    border: 1px solid #dfdfdf;
    margin-top: .9em;
    justify-content: center;
    width: 31.3em;
    height: 10em;
}

.msg .container .mesg .btn-msg{
    display: block;
}
.msg .container .mesg .btn-msg button{
    background: #71bd34;
    border: #71bd34;
    border-radius: .5em;
    color: #ffffff;
    font-size: .9em;
    cursor: pointer;
    padding: .8em 1em;
    margin-top: 1.8em;
}
.msg .container .mesg .btn-msg button:hover{
    background: #619e2f;
}
@media (max-width:630px){
    .msg .container .mesg .M textarea{
        width: 50%;
    }
}


footer{
    bottom: 0;
    width: 100%;
    height: 100%;
}
footer .bottom{
    background: #413f3f;
}
footer .icon{
    color:#6ed11d;
    text-align: center;
    padding: 2em;
    font-size: 1em;
    justify-content: space-around;
}
footer .cre{
    color: #686868;
    font-size: 1.2em;
    text-align: center;
}
footer .cre .T{
    color: #9b9b9b;
}